Name = {{ new_hostname }}
AddressFamily = ipv4
Interface = tun0
{% for host in groups[connect_to_group] %}
{% if hostvars[host]['new_hostname'] is defined and new_hostname != hostvars[host]['new_hostname'] %}
ConnectTo = {{ hostvars[host][connect_to_addr_var] }}
{% endif %}
{% endfor %}
Mode = switch
