Name = {{ ansible_hostname }}
AddressFamily = ipv4
Interface = tun0
{% for host in groups[connect_to_group] %}
{% if ansible_hostname != hostvars[host][connect_to_addr_var] %}
ConnectTo = {{ hostvars[host][connect_to_addr_var] }}
{% endif %}
{% endfor %}
Mode = switch
