Name = {{ tinc_node_name }}
AddressFamily = ipv4
Interface = tun0
{% for host in groups[connect_to_group] %}
{% if hostvars[host]['ansible_ssh_host'] is defined and ansible_hostname != hostvars[host]['ansible_ssh_host'] %}
ConnectTo = {{ hostvars[host]['ansible_ssh_host'] }}
{% endif %}
{% endfor %}
Mode = switch
